.countdown {
  padding: 8px;
  border: 1px solid black;

  .keyboard {
    width: 120px;
    height: 160px;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px 4px;

    .key {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      background-color: azure;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      &:hover {
        background-color: rgba(173, 173, 173, 0.3);
      }
    }
  }

  .display-area {
    margin: 16px 0;
  }

  .operation {
    margin: 16px 0;
  }
}
